@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

body {
    background: #cbcbcb url("https://static.vecteezy.com/system/resources/previews/002/368/540/original/white-luxury-elegant-background-free-vector.jpg") no-repeat fixed;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

aside {
    padding:20px;
}

#card {
    background-color: white;
    width: fit-content;
    padding: 50px;
    border-radius: 20px;

    box-shadow: 2px 5px 9px #0000006e;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#card h1 {
    margin: 0px 0px 20px 0px;
    font-size: 1em;
}

#card input {
    padding: 10px;
    margin: 0px 0px 20px 0px;
    border-width: 0px 0px 1px 0px;
    border-color: black; 
    border-radius: 5px 5px 5px 5px;
    transition: .2s;
}

#card input:focus {
    outline: none;
    background-color: rgb(89, 89, 89);
    color: white;
}

.btn {
    margin: auto;
    margin-top: 5px;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 5px 9px #00000032;
    transition: .2s;
}

 a {
    text-decoration: none;
    color: black;
}

.btn:hover {
    background-color: rgb(111, 111, 111);
}

#divisor {
    margin-top: 60px;
    border: 1px solid gray;
}

p {
    text-align: center;
    margin-bottom: 10px;
}

