@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #cbcbcb url("https://static.vecteezy.com/system/resources/previews/002/368/540/original/white-luxury-elegant-background-free-vector.jpg") no-repeat fixed;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

#card {
    background-color: white;
    width: fit-content;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 2px 5px 9px #0000006e;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#card h1 {
    margin-bottom: 20px;
}

h1 {
    font-size: 1.5em;
}

input {
    padding: 20px 10px;
    border-radius: 10px;
    margin: 10px 0px;
    border-width: 0px 0px 1px 0px;
    border-color: black;
    transition: .2s;
}

input:focus {
    outline: none;
    background-color: #464646;
    color: white;
}

#loginbtn:hover {
    background-color: #464646;
}

#line {
    border: 1px solid black;
    margin-top: 20px;
}

p {
    margin: 20px 0px;
}

a {
    text-decoration: none;
    color: black;
    margin-top: 90px;
    padding: 15px;
    border: solid black;
    border-width: 0px 0px 1px 0px;
    border-radius: 10px;
    transition: .2s;
}

a:hover {
    text-decoration: underline;
    background-color: #464646;
    font-weight: bolder;
}